networks:
  toubilib.net:
    driver: bridge

services:
  # service api.toubeelib : api pour la prise de rdv
  #
  api.toubilib:
    build:
      context: build
      dockerfile: 8.4-cli.Dockerfile
    ports:
      - '6080:80'
    volumes:
      - ./app:/var/php
    working_dir: /var/php
    networks:
      - toubilib.net
    depends_on:
      - toubiprat.db
      - toubiauth.db
      - toubirdv.db
      - toubipatient.db
    command: sh -c "composer install && php -S 0.0.0.0:80 -t /var/php/public"


 # service gateway : API Gateway qui redirige les requêtes vers l'API toubilib
  #
  api.gateway.toubilib:
    build:
      context: build
      dockerfile: 8.4-cli.Dockerfile
    ports:
      - '6081:80'
    volumes:
      - ./gateway:/var/php
    working_dir: /var/php
    networks:
      - toubilib.net
    depends_on:
      - api.toubilib
    environment:
      - API_TOUBILIB_URL=http://api.toubilib:80
    command: sh -c "composer install && php -S 0.0.0.0:80 -t /var/php/public"

    # service toubiprat.db : base de données postgresql pour les praticiens

  toubiprat.db:
    image: 'postgres:latest'
    env_file: ./toubipratdb.env
    ports:
      - '5432:5432'
    networks:
      - toubilib.net
    volumes:
      - ./sql/:/var/sql
      - ./sql/toubiprat.schema.sql:/docker-entrypoint-initdb.d/1_toubiprat.schema.sql
      - ./sql/toubiprat.data.sql:/docker-entrypoint-initdb.d/2_toubiprat.data.sql

  toubiauth.db:
      image: 'postgres:latest'
      env_file: ./toubiauthdb.env
      ports:
        - '5433:5432'
      networks:
        - toubilib.net
      volumes:
        - ./sql:/var/sql
        - ./sql/toubiauth.schema.sql:/docker-entrypoint-initdb.d/1_toubiauth.schema.sql
        - ./sql/toubiauth.data.sql:/docker-entrypoint-initdb.d/2_toubiauth.data.sql

  toubirdv.db:
    image: 'postgres:latest'
    env_file: ./toubirdvdb.env
    ports:
      - '5434:5432'
    networks:
      - toubilib.net
    volumes:
      - ./sql/:/var/sql
      - ./sql/toubirdv.schema.sql:/docker-entrypoint-initdb.d/1_toubirdv.schema.sql
      - ./sql/toubirdv.data.sql:/docker-entrypoint-initdb.d/2_toubirdv.data.sql

  toubipatient.db:
    image: 'postgres:latest'
    env_file: ./toubipatientdb.env
    ports:
      - '5435:5432'
    networks:
      - toubilib.net
    volumes:
      - ./sql/:/var/sql
      - ./sql/toubipat.schema.sql:/docker-entrypoint-initdb.d/1_toubipat.schema.sql
      - ./sql/toubipat.data.sql:/docker-entrypoint-initdb.d/2_toubipat.data.sql

  #
  # service administration des bases sql
  #
  adminer:
    image: adminer
    ports:
      - '8080:8080'
    networks:
      - toubilib.net

