rdv.driver=pgsql
rdv.username=toubirdv
rdv.password=toubirdv
rdv.host=toubirdv.db
rdv.database=toubirdv

pat.driver=pgsql
pat.username=toubipat
pat.password=toubipat
pat.host=toubipatient.db
pat.database=toubipat